@using Hospital.DB.Model
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    List<string> Iller=ViewData["Iller"] as List<string>;

    List<Polyclinic> polyclinics=ViewData["policlinics"] as List<Polyclinic>;

    List<Doctor> doctors=ViewData["doctors"] as List<Doctor>;
}
@*hasta kayıt ekranı için önce form tagı sonra da inputlar
*@


<body onload="GetDoctor()">
<form>
    
<div class="row col-12">

    <div class="col-6">

        <div class="row col-12">
             <div class="col-3"> <label> TC NO: </label> </div>
             <div class="col-9"> <input type="text" name="tc" id="tc" pattern="[0-9]{11}" title="İstenilen bilgi 11 haneli sayı" onblur="GetAppointment()"> </div>
        </div>

        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> AD: </label> </div>
            <div class="col-9"> <input type="text" name="name" /> </div>   
        </div>

        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> SOYAD: </label> </div>
            <div class="col-9"> <input type="text" name="surname" /> </div>
        </div>

        @*Telefona özel regex*@
        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Telefon No: </label> </div>
            <div class="col-9"> <input type="text" name="phone" placeholder="123-123-1234" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" /> </div>
        </div>

        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Mail: </label> </div>
            <div class="col-9"> <input type="email" name="mail" /> </div>
        </div>

        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Doğum Tarihi: </label> </div>
            <div class="col-9"> <input type="date" name="birthDate" /> </div>
        </div>

        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Doğum Yeri: </label> </div>
            <div class="col-9"> 
                <select name="birthplace"> @*bunu kod kısmında yazabilirz*@
                    @foreach (var eleman in Iller)
                    {
                        <option value="none" selected disabled hidden> İl Seçiniz </option>

                        <option value="@eleman"> @eleman</option>
                    }                    
                </select>
            </div>
        </div>

       @* Adres bilgisini input yerine textarea*@
        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Adres: </label> </div>
            <div class="col-9">
                <textarea name="adress" rows="5"></textarea>
            </div>
        </div>
        <br />
        @*name kısımları sqldeki columnlarla aynı olmalı çünkü çakıştıralım*@
        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Randevu Tarihi: </label> </div>
            <div class="col-9">
                <input type="datetime-local" name="date"/>
            </div>
        </div>

        @*select te onchange ile metot çağırdık metodu en altta yazdık js ile*@
        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Poliklinikler: </label> </div>
            <div class="col-9">
                <select name="polyclinicId" id="polyclinicId" onchange="GetDoctor()" >
                    <option value="0"> Poliklinik Seçiniz:</option>
                    @*bunu kod kısmında yazabilirz*@
                    @foreach (var eleman in polyclinics)
                    {
                        @*<option value="none" selected disabled hidden> Poliklinik Seçiniz </option>*@
                        @*arkaplanda yani value da id görünürde name basılcak seçtiğimizde idsini seçmiş oluoz*@
                        <option value="@eleman.id"> @eleman.name</option>
                    }
                </select>
            </div>
        </div>

        <div style="margin-top:10px" class="row col-12">
            <div class="col-3"> <label> Doktor: </label> </div>
            <div class="col-9">
                <select name="doctorId" id="doctorId">
                    @*bunu kod kısmında yazabilirz*@
                    
                    @foreach (var eleman in doctors)
                    {
                        @*arkaplanda yani value da id görünürde name basılcak seçtiğimizde idsini seçmiş oluoz*@
                        @*default değer*@
                        @*<option value="none" selected disabled hidden>Doktor Seçiniz</option>*@
                        <option value="@eleman.id"> @eleman.name @eleman.surname</option>
                    }
                </select>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-3"></div>
            <div class="col-9">
                <button style="margin-top:20px" class="btn btn-outline-info" asp-controller="Patient" asp-action="Save"> Sonraki Hastaya Geç</button>
            </div>
            
        </div>

    </div>

    <div class="col-6"> 
        <table id="dataTable" class="table table-dark">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Poliklinik</th>
                    <th>Doktor</th>
                </tr>
            </thead>
            <tbody id="appointmentTr"> </tbody>
        </table>
    </div>

 </div>
</form>
</body>


<script> 

    function GetDoctor()
    {
        $.ajax({

            url: '@Url.Action("GetDoctor", "Patient")',
            type:"POST",
            data:{polyclinicId: document.getElementById('polyclinicId').value},
            //bu metot başarılı olursa bize dönüş yapan doktorlar=data--- item ın altında data onun altında da doktor
            success: function(data){
                $('#doctorId').find('option').remove();
                if(data.length==0){
                    if (document.getElementById('polyclinicId').value=="0")
                    {
                        select = document.getElementById('doctorId');

                        var opt = document.createElement('option');

                        opt.value = 0;
                        opt.innerHTML = "Öncelikle poliklinik bölümü seçiniz";
                        select.appendChild(opt);
                    }
                    else
                    {
                        select = document.getElementById('doctorId');

                        var opt = document.createElement('option');

                        opt.value = 0;
                        opt.innerHTML = "Bu bölümde doktor bulunmamaktadır.";
                        select.appendChild(opt);
                    }
                }
                $.each(data, function(i,item)
                {
                    select=document.getElementById('doctorId');
                    
                    var opt=document.createElement('option');

                    opt.value=[item.id];
                    opt.innerHTML=[item.name] + " " + [item.surname];
                    select.appendChild(opt);
               
            
                }

            );
            },
            error: function () 
            {
                $('doctorId').find('option').remove();
            }
        });
        

    }


    function GetAppointment(){
        var tc= document.getElementById('tc').value;
        $.ajax({
            url: '@Url.Action("GetAppointment", "Patient")',
            type: "POST",
            data: {tc: tc},
            success: function(data){
                $('#dataTable').DataTable().rows().remove().draw();
                $.each(data, function(i, item){
                    $('#dataTable').DataTable().row.add($('<tr>' +
                    '<td>' + [item.date] + '</td>' +
                    '<td>' + [item.polyclinicId] + '</td>' +
                    '<td>' + [item.doctorId] + '</td>' + 
                    '</tr>')).draw();
                    
                    
                }
                );
            }




        });

    }


</script>